/* 选择导师 */
.thumbnail{
  >img{
    cursor: pointer;
    max-width: 225px;
  }
  .favorite{
    padding: 9px;
    border-bottom: 1px solid #EEE;
  }
  .confirm{
    margin: 0 0 9px;
    p{
      margin: 5px 0 0 0;
    }
  }
}